<!DOCTYPE html>
<html>
<head>
	<title>Kipteam.net - About</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar">

	<img src="/static/images/logoR.png" class="logo" onclick="window.location.href='https://KipteamNet.toroeen.repl.co/'">

		<nav>
			<ul>
				<li><a href="https://KipteamNet.toroeen.repl.co/">Home</a></li>
				<li><a onclick="window.open('https://discord.gg/Vk6tTejf6C')">Discord</a></li>
				<li><a href="downloads">Downloads</a></li>
				<li><a class="clicked" href="about">About</a></li>
				<div class="dropdown">
					<li><a class="dropdown-clicked" href="projects">Projects</a></li>
						<div class="dropdown-content">
					      <a href="projects#api">Api</a>
					      <a href="projects#bots">Bots</a>
                <a href="projects#sq">Stick Squares</a>
                <a href="projects#scamplex">Scamplex</a>
					    </div>
				</div>
			</ul>
		</nav>
</div>

<div class="about">
	<h1>Hello!</h1>
	<br>
	<p>
		Age: 15 <br>
		Pronouns: he/him <br>
		Likes: Programming, Discord, Minecraft, Streaming <br>
		<br>
		Hi! I am kipteam! <br>
    I live in Belgium and speak decently English but obviously fluently Dutch. <br>
		I most likely spend my time either programming, moderating discord or playing minecraft. <br>
		I have done things like; web development, discord bot development, minecraft mod development and minecraft plugin development. <br>
		Also app and software development have been gently touched by me.
    Recently I got into game development and hope on releasing <br>
    my first mobile game some time soon!<br>
    <br>
    You can contact me on discord at any time: <strong>@kipteam#3048</strong>
    <br>
    Or join my <a onclick="window.open('https://discord.gg/Vk6tTejf6C')">Discord</a> server!
	</p>
	<br>
	<h2>Socials</h2>
	<br>
  <div class="socials">
    <a href="https://www.youtube.com/channel/UCQKVSPu8AeDyn-TegBVP9XA" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/torbeno_12/" class="fa fa-instagram"></a>
  </div>
</div>

</body>
</html>