<!DOCTYPE html>
<html>
<head>
	<title>Kipteam.net - Downloads</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar">

	<img src="/static/images/logoR.png" class="logo" onclick="window.location.href='https://KipteamNet.toroeen.repl.co/'">

		<nav>
			<ul>
				<li><a href="https://KipteamNet.toroeen.repl.co/">Home</a></li>
				<li><a onclick="window.open('https://discord.gg/Vk6tTejf6C')">Discord</a></li>
				<li><a class="clicked" href="downloads.html">Downloads</a></li>
				<li><a href="about">About</a></li>
				<div class="dropdown">
					<li><a class="dropdown-clicked" href="projects">Projects</a></li>
						<div class="dropdown-content">
					      <a href="projects#api">Api</a>
					      <a href="projects#bots">Bots</a>
                <a href="projects#sq">Stick Squares</a>
                <a href="projects#scamplex">Scamplex</a>
					    </div>
				</div>
			</ul>
		</nav>
</div>

<div class="topic1">
  <section id="sq">
    <h1>Sticky Squares</h1>
    <p>
      Sticky Squares is a fun mobile game that requires thinking and puzzle solving. <br>
      <br>
      Release date: SOON <br>
      Download: SOON
    </p>
  </section>
  <section id="plugin">
      <h1>Plugins</h1>
      <p>
        ye, i make minecraft plugins.
      </p>
  </section>
</div>

</body>
</html>